/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .upload-input {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Cropper Container */
  .cropper-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .btn-crop {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 20%;
  
  }
  
  /* Cropped Image Container */
  .cropped-image-container {
    margin-top: 30px;
    /* text-align: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .cropped-image {
    max-width: 50%;
    margin-top: 20px;
  }
  
  .btn-process {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn-process:disabled {
    background-color: #e92424;
    cursor: not-allowed;
  }
  
  .btn-process:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  /* Processed Image Container */
  .processed-image-container {
    margin-top: 30px;
    text-align: center;  
  }
  
  .passport-image {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .btn-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn-download:hover {
    background-color: #218838;
  }
  
  /* Loading Screen */
  .loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  .image-view {
    display: flex;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Loader inside button */
  .loader-small {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  